@model AplicacionTiendita.Models.T_Producto

@{
    ViewBag.Title = "Eliminar Producto";
}

<h2>Eliminar Producto</h2>

<div class="card">
    <div class="card-header bg-danger text-white">
        <h4>¿Estás seguro de que deseas eliminar este producto?</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.categoria.nomcat)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.categoria.nomcat)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.nompro)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.nompro)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.despro)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.despro)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.prepro)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.prepro)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.canpro)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.canpro)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.estpro)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.estpro)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions text-right">
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> Eliminar
                </button>
                @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-secondary ml-2" })
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
}
