@model IEnumerable<AplicacionTiendita.Models.T_Producto>

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Crear Nuevo Producto", "Create", null, new { @class = "btn btn-primary mb-3" })
</p>
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().categoria.codcat)</th>
            <th>@Html.DisplayNameFor(model => model.First().categoria.nomcat)</th>
            <th>@Html.DisplayNameFor(model => model.First().nompro)</th>
            <th>@Html.DisplayNameFor(model => model.First().despro)</th>
            <th>@Html.DisplayNameFor(model => model.First().prepro)</th>
            <th>@Html.DisplayNameFor(model => model.First().canpro)</th>
            <th>@Html.DisplayNameFor(model => model.First().estpro)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.categoria.codcat) </td>
                <td>@Html.DisplayFor(modelItem => item.categoria.nomcat) </td>
                <td>@Html.DisplayFor(modelItem => item.nompro)</td>
                <td>@Html.DisplayFor(modelItem => item.despro)</td>
                <td>@Html.DisplayFor(modelItem => item.prepro)</td>
                <td>@Html.DisplayFor(modelItem => item.canpro)</td>
                <td>@Html.DisplayFor(modelItem => item.estpro)</td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.codpro }, new { @class = "btn btn-warning btn-sm bi bi-pencil-square", @title = "Editar" })
                    @Html.ActionLink(" ", "Details", new { id = item.codpro }, new { @class = "btn btn-info btn-sm bi bi-info-circle", @title = "Detalles" })
                    @Html.ActionLink(" ", "Delete", new { id = item.codpro }, new { @class = "btn btn-danger btn-sm bi bi-trash", @title = "Eliminar" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
}
