@model IEnumerable<AplicacionTiendita.Models.T_Categoria>

@{
    ViewBag.Title = "Categorías";
}

<h2 class="text-center text-primary mb-4">Categorías</h2>

<p>
    @Html.ActionLink("Crear Nueva Categoría", "Create", null, new { @class = "btn btn-primary mb-3" })
</p>

<!-- Formulario de Búsqueda -->
<div class="form-group">
    <input type="text" id="searchInput" class="form-control" placeholder="Buscar por nombre de categoría..." />
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered" id="categoriaTable">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().codcat)</th>
                <th>@Html.DisplayNameFor(model => model.First().nomcat)</th>
                <th>@Html.DisplayNameFor(model => model.First().estcat)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.codcat)</td>
                    <td>@Html.DisplayFor(modelItem => item.nomcat)</td>
                    <td>@Html.DisplayFor(modelItem => item.estcat)</td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.codcat }, new { @class = "btn btn-warning btn-sm bi bi-pencil-square", @title = "Editar" })
                        @Html.ActionLink(" ", "Details", new { id = item.codcat }, new { @class = "btn btn-info btn-sm bi bi-info-circle", @title = "Detalles" })
                        @Html.ActionLink(" ", "Delete", new { id = item.codcat }, new { @class = "btn btn-danger btn-sm bi bi-trash", @title = "Eliminar" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>
        document.getElementById('searchInput').addEventListener('keyup', function () {
            var searchString = this.value.toLowerCase();
            var rows = document.querySelectorAll('#categoriaTable tbody tr');
            rows.forEach(function (row) {
                var cell = row.querySelector('td:nth-child(2)'); 
                var cellText = cell.textContent.toLowerCase();
                if (cellText.includes(searchString)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    </script>
}
